:root {
  --softOrange: hsl(35, 77%, 62%);
  --softRed: hsl(5, 85%, 63%);
  --offWhite: hsl(36, 100%, 99%);
  --grayishBlue: hsl(233, 8%, 79%);
  --darkGrayishBlue: hsl(236, 13%, 42%);
  --veryDarkBlue: hsl(240, 100%, 5%);

  --tipo-principal: 'Inter', sans-serif;

}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  vertical-align: baseline;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

img, picture, video, iframe, figure {
  max-width: 100%;
  width: 100%;
  display: block;
}

body {
  min-height: 100vh;
  font-size: 100%;
  font-family: var(--tipo-principal);
  color: var(--veryDarkBlue);
}

a {
  display: block;
  text-decoration: none;
  color: inherit;
  font-size: inherit;
}

p a {
  display: inline;
}

li {
  list-style-type: none;
}

h1, h2, h3, h4, h5, h6, p, span, a, strong, blockquote, i, b, u, em {
  font-size: 1em;
  font-weight: inherit;
  font-style: inherit;
  text-decoration: none;
  color: inherit;
}

form, input, textarea, select, button, label {
  font-family: inherit;
  font-size: inherit;
  -webkit-hyphens: auto;
      -ms-hyphens: auto;
          hyphens: auto;
  background-color: transparent;
  color: inherit;
  display: block;
}


.header {
  width: 100%;
  min-height: auto;
  padding: 2.5em 10rem;


  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: space-between;
}
.logo {
  width: auto;

}
.logo img {
  width: 5em;
  min-height: auto;

}
.burger-button {
  display: none;

}
.header .nav{
  width: 40%;
}
.close-menu {
  display: none;
}
.header ul {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-end;
  align-items: center;
}
.header li {
  margin: 0 1em;
  font-size: 1.4rem;
  cursor: pointer;
}
.header li:hover {
  color: var(--softOrange);
}

.hero-container {
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  padding: 0 10rem;

}

.hero-container .hero {
  margin-right: 1.5em;
} 

.hero .hero-img {
  width: 100%;
  min-height: 20em;
}

.hero .hero-text {
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
}
.hero h2 {
  width: 100%;
  padding-top: .3em;
  padding-right: 1em;
  font-size: 3.8rem;
  font-weight: 800;
}

.hero .hero-text--info {
  padding: 1.3rem 2.6rem 0 2.3rem;
}

.hero p {
  padding-bottom: 2rem;
  font-size: 1.4rem;
  line-height: 2.8rem;
  font-weight: 300;
}

.hero .hero-button {
  background-color: var(--softRed);
  width: 15rem;
  height: 4rem;
  border: none;
  font-weight: 700;
  letter-spacing: 0.5rem;
  color: var(--offWhite);
  cursor: pointer;
}

.hero-container .news-container {
  width: 60%;
  padding: 3rem;
  background-color: var(--veryDarkBlue);

}

.news-container h2{
  margin-bottom: 2.2rem; ;
  font-size: 2.3rem;
  font-weight: 700;
  color: var(--softOrange);
}

.news-container .news-card {
  height: calc(80% / 3);
  margin-bottom: 1rem;
  border-bottom: 1px solid var(--grayishBlue);
}
.news-card:nth-child(4) {
  border: none;
}

.news-card h3 {
  margin-bottom: 1rem;
  font-size: 1.6rem;
  font-weight: 700;
  color: var(--offWhite);
  
}

.news-card p {
  font-size: 1.2rem;
  font-weight: 300;
  line-height: 1.5rem;
  color: var(--grayishBlue);
}

@media screen and (max-width: 480px) {
  
  .header .burger-button {
    display: block;
    border: 0;
    cursor: pointer;
  }

  .header .nav {
    /*     display: none; */
    position: absolute;
    width: 0;
    height: 100%;
    top: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.5);

    pointer-events: none;
    overflow: hidden;
    transition: all .5s ease;
  }

  .header .nav.active {
/*     display: block; */
    width: 100%;
  }

  .header .nav-container {
    display: flex;
    flex-direction: column;
    position: absolute;
    width: 70%;
    height: 100%;
    right: 0;
    background-color: var(--offWhite);
  }

  .header .close-menu {
    display: block;
    position: absolute;
    width: 2.5em;
    margin: 2.5em;
    right: 0 ;
    border: 0;
    cursor: pointer;
  }

  .header ul {
    flex-direction: column;
    align-items: flex-start;
    margin-top: 15em;
  
  }

  .header li {
    margin: .5em 2.5em;
    font-size: 1.8rem;
    font-weight: 400;
  }
}