
/* - resets - */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  vertical-align: baseline;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}



body {
  min-height: 100vh;
  font-size: 100%;
  font-family: var(--site-font-type);
  color: var(--veryDarkBlue);
}





/* - layout-container-area - */
.layout-container-area {
  display: flex;
  flex-direction: row;
}

/* - header-area. - */
.header-area {
  /*
  position: fixed;
  top: 0;
  bottom: 0;
  */
  flex: 20%;
  display: flex;
  flex-direction: column;
  border-right: 1px solid rgb(116, 116, 116);
  background: var(--offWhite);
}

/* - main-area - */
.main-area {
  display: block;
}

.header {
  display: block;
  padding: .5rem;
}

.logo {
  width: auto;

}
.logo-img {
  width: 5em;
  min-height: auto;

}
.burger-button {
  display: none;

}
.header .nav{
  width: 40%;
}
.close-menu {
  display: none;
}
.header ul {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-end;
  align-items: center;
}
.header li {
  margin: 0 1em;
  font-size: 1.4rem;
  cursor: pointer;
}
.header li:hover {
  color: var(--softOrange);
}





@media screen and (max-width: 480px) {

  .header {
    /* 
    padding-left: 2rem;
    padding-right: 2rem;
    */
  }
  
  .header .burger-button {
    display: block;
    border: 0;
    cursor: pointer;
  }

  .header .nav {
    /*     display: none; */
    position: absolute;
    width: 0;
    height: 100%;
    top: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.5);

    pointer-events: none;
    overflow: hidden;
    transition: all .5s ease;
  }

  .header .nav.active {
/*     display: block; */
    width: 100%;
  }

  .header .nav-container {
    display: flex;
    flex-direction: column;
    position: absolute;
    width: 70%;
    height: 100%;
    right: 0;
    background-color: var(--offWhite);
  }

  .header .close-menu {
    display: block;
    position: absolute;
    width: 2.5em;
    margin: 2.5em;
    right: 0 ;
    border: 0;
    cursor: pointer;
  }

  .header ul {
    flex-direction: column;
    align-items: flex-start;
    margin-top: 15em;
  
  }

  .header li {
    margin: .5em 2.5em;
    font-size: 1.8rem;
    font-weight: 400;
  }

  .hero-container {
    width: 100vw;
    flex-direction: column;
    padding: 0 2rem;
  }

  .hero-container .hero {
    margin-right: 0;
  }
  .hero .hero-img {
    width: 100vw;
    background-image: url(./assets/images/image-web-3-mobile.jpg);
    background-size: cover;
  }
  .hero .hero-text {
    flex-direction: column;
  } 

  .hero .hero-text--info {
    padding-left: 0;
  }

  .hero-container .news-container {
    width: 100%;
    min-height: 400px ;
    margin-top: 4rem;
  }

  .news-container .news-card {
    margin-bottom: 3rem;
  }

  .news-card:nth-child(4) {
    margin-bottom: 0;
  }

  .news-card p {
    font-size: 1.4rem;
    line-height: 2.4rem;
    margin-bottom: 2rem;
  }

  .topNews-container {
    flex-direction: column;
    width: 100vw;
    height: auto;
    padding: 0 2rem;
    margin-bottom: 5rem;
  }
  .topNews-card {
    margin-top: 4rem;
  }

  .top-News-texts h4{
    font-size: 1.6rem;
  }
  .top-News-p {
    font-size: 1.4rem;
  }
  
}