/* - root - */
:root {
    --site-font-size: 16px;
    --site-font-type: monospace;

    --primary-text-color: rgb(70, 70, 70);
    --primary-bd-color: rgb(190, 190, 190);
    --primary-bd-color-soft: rgb(210, 210, 210);
    --primary-bd-color-hard: rgb(170, 170, 170);

    --color-01: hsl(36, 100%, 99%);
    --color-02: hsl(35, 77%, 62%);
    --color-03: hsl(5, 85%, 63%);
    --color-04: hsl(233, 8%, 79%);
    --color-05: hsl(236, 13%, 42%);
    --color-06: hsl(240, 100%, 5%);
}

/* - resets - */
* {
    box-sizing: border-box;
    vertical-align: baseline;
    margin: 0;
    padding: 0;
}

html {
    font-family: var(--site-font-type);
    font-size: var(--site-font-size);
}

body {
    font-family: var(--site-font-type);
    font-size: var(--site-font-size);
    background: var(--color-01);
    color: var(--primary-text-color);
}

img, picture, video, iframe, figure {
    max-width: 100%;
    width: 100%;
    display: block;
}

a {
    display: block;
    text-decoration: none;
    color: inherit;
    font-size: inherit;
}

p, a {
    display: inline;
}
  
li {
    list-style-type: none;
}
  
h1, h2, h3, h4, h5, h6, p, span, a, strong, blockquote, i, b, u, em {
    font-size: 1em;
    font-weight: inherit;
    font-style: inherit;
    text-decoration: none;
    color: inherit;
}
  
form, input, textarea, select, button, label {
    font-family: inherit;
    font-size: inherit;
    -webkit-hyphens: auto;
        -ms-hyphens: auto;
            hyphens: auto;
    background-color: transparent;
    color: inherit;
    display: block;
}
/* layout-container-area */
.layout-container-area {
    display: flex;
    flex-direction: row;
}

/* header-area */
.header-area {
    display: block;
    border-right: .1rem solid var(--primary-bd-color-hard);
}

.header {
    position: sticky;
    top: 10px;
    padding: .5rem;
}

.header--logo-area {
    display: block;
}

.header--nav-area {
    display: block;
    margin-top: 1.25rem;
}

/* - nav - */
.nav {
    display: flex;
    flex-direction: column;
    padding: .25rem;
}

.nav--link {
    display: block;
    border: .1rem solid var(--primary-bd-color);
    border-radius: 50%;
    margin-bottom: .5rem;
    text-decoration: none;
}

.nav--link:hover {
    background: rgb(221, 221, 221);
}

/* -- link-item -- */
.nav-link-item {
    display: block;
    padding: .2rem;
}

/* -- link-item--media-area -- */
.nav-link-item--media-area {
    display: flex;
    align-items: center;
    justify-content: center;
}

/* -- link-item--context-area -- */
.nav-link-item--context-area {
    display: none;
    text-align: center;
}

.link-context {
    text-decoration: none;
    font-size: .7rem;
    font-weight: 500;
    letter-spacing: .05rem;
    text-transform: uppercase;
    color: var(--primary-text-color);
}

/* - main-area - */
.main-area {
    display: block;
    padding: .5rem;
}
